* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.food-name-box {
    width: 100%;
    border-bottom: solid 1px lightgray;
}

.main-content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.each-food-box {
    width: 300px;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 15px;
    border-radius: 5px;
}